.fadeout {
    opacity: 0;
    transform: translateY(15px);
    transition: all .6s ease-in-out;
  }
  .fadein {
    opacity: 1;
    transform: translateY(0px);
  }
  .home {
    position: relative;
    background-image: url(../assets/imgs/index-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .buy-modal {
    position: fixed;
    z-index: 2000;
    top: 0;
    bottom:0;
    left:0;
    right: 0;
    background: rgba(0,0,0,0.7);
  }
  .buy-modal-inner {
    position: fixed;
    z-index: 2001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1259px;
    height: 266px;
    background-image: url(../assets/imgs/modal-bg.png);
    background-size: cover;
  }
  .buy-modal-inner img {
    width: 113px;
    height: 96px;
    position: absolute;
    top: 85px;
    left: 95px;
  }
  .modal-title {
    font-size: 34px;
    font-family: ali-regular;
    font-weight: 400;
    color: rgba(255, 255,255, .85 );
    letter-spacing: 10px;
    padding-left: 376px;
    padding-top: 10px;
  }
  .name-input {
      width: 468px;
      height: 48px;
      margin-left: 447px;
      margin-top: 41px;
      background: #1c5357;
  }
  .name-input input {
    width: 100%;
    height: 100%;
    font-size: 34px;
    background: transparent;
    color: #fff;
    margin-left: 20px;
  }
  input::-webkit-input-placeholder {
    font-size: 34px;
    font-family: ali-regular;
    font-weight: 400;
    color: rgba(255,255,255, .46);
    padding-left: 80px;
  }
  input::-moz-placeholder {
    font-size: 34px;
    font-family: ali-regular;
    font-weight: 400;
    color: rgba(255,255,255, .46);
    padding-left: 80px;
  }
  input:-moz-placeholder {
    font-size: 34px;
    font-family: ali-regular;
    font-weight: 400;
    color: rgba(255,255,255, .46);
    padding-left: 80px;
  }
  input:-ms-input-placeholder {
    font-size: 34px;
    font-family: ali-regular;
    font-weight: 400;
    color: rgba(255,255,255, .46);
    padding-left: 80px;
  }
  .flashing {
    animation: fade .6s 5;
  }
  @keyframes fade {
    from {
      opacity: 1.0;
    }
    50% {
      opacity: 0.0;
    }
    to {
      opacity: 1.0;
    }
  }
  .check-btn {
    width: 260px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fdd503;
    color: #1a141a;
    font-size: 30px;
    font-weight: bold;
    font-family: 'ali-bold';
    margin-left: 512px;
    margin-top: 20px;
    cursor: pointer;
  }
  .buy-now {
    position: fixed;
    z-index: 100;
    bottom: 15%;
    right: 70px;
    width: 260px;
    height: 82px;
    border-radius: 41px;
    overflow: hidden;
    cursor: pointer;
  }
  .buy-now div {
    position: absolute;
    z-index: 1;
    width: 260px;
    height: 82px;
    line-height: 82px;
    border-radius: 41px;
    background: #496dfd;
    box-shadow: -5px 0px 13px 0px rgba(1, 0, 53, 0.5);
    right: -300px;
    font-size: 29px;
    font-family: ali-bold;
    font-weight: bold;
    color: #ffffff;
    padding-left: 30px;
    transition: all 0.5s;
  }
  .buy-now img {
    position: absolute;
    z-index: 2;
    right: -7px;
    top: -11px;
  }
  .buy-now:hover.buy-now div {
    right: -30px;
  }
  .show-more {
    position: fixed;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
  }
  .title {
    padding-left: 214px;
  }
  .top-part{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 1082px;
    /* background-image: url(../assets/imgs/home_01.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .top-video {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  .top-content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .mask-up {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 159px;
  }
  
  .nav-fixed {
    position: fixed;
    z-index: 1000;
    top: -200px;
    left: 0;
    width: 100%;
    padding: 50px 50px;
    background-color: #14151A;
    box-sizing: border-box;
    transition: all .5s;
  }
  .nav-bar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 70px;
    box-sizing: border-box;
    transition: all .5s;
  }
  .nav-left img {
    margin-right: 47px;
  }
  .nav-left ul li {
    font-size: 20px;
    font-family: ali-medium;
    font-weight: 500;
    color: #ffffff;
    margin-right: 40px;
    cursor: pointer;
  }
  .nav-left ul li:hover {
    color: #fed402;
  }
  .nav-right li {
    font-size: 20px;
    font-family: ali-medium;
    font-weight: 500;
    color: #ffffff;
    margin-left: 47px;
    cursor: pointer;
  }
  .nav-right li img {
    margin-right: 10px;
  }
  .center-desc {
    margin-top: 270px;
  }
  .center-desc h1 {
    font-size: 82px;
    font-family: ali-medium;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
  }
  .center-desc p {
    font-size: 40px;
    font-family: ali-regular;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    letter-spacing: 18px;
  }
  .top-btns {
    margin-top: 60px;
    cursor: pointer;
  }
  .top-btns > div {
    position: relative;
    width: 284px;
    height: 82px;
    line-height: 82px;
    text-align: center;
    font-size: 30px;
    font-family: ali-bold;
    font-weight: bold;
    color: #19131a;
    overflow: hidden;
  }
  .top-btns > div span {
    opacity: 0;
    animation: opacity 0.3s;
    animation-delay: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .enter-btn {
    margin-right: 35px;
    background: #ffd600;
  }
  .enter-btn:before,
  .guest-btn:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0px;
    width: 110%;
    height: 102%;
    filter: brightness(1.07);
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px);
    transition: transform 0.4s ease 0s, opacity 0.4s ease 0s;
  }
  .enter-btn:before {
    background-color: rgb(254, 212, 0);
  }
  .guest-btn:before {
    background-color: #dedede;
  }
  .guest-btn {
    margin-right: 35px;
    background: #fff;
  }
  .enter-btn:hover:before,
  .guest-btn:hover:before {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
  
  .what-is {
    position: absolute;
    bottom: 60px;
    padding-left: 60px;
    margin-top: 220px;
  }
  .what-is h1 {
    font-size: 30px;
    font-family: ali-medium;
    font-weight: 500;
    color: #ffd600;
  }
  .what-is p {
    font-size: 22px;
    font-family: ali-regular;
    font-weight: 400;
    color: #ffffff;
    line-height: 36px;
    opacity: 0.6;
  }
  .event-part {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 1250px;
    /* background-image: url(../assets/imgs/home_02.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  .event-list {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 925px;
    background-image: url(../assets/imgs/event-bg.png);
    background-size: 1823px 925px;
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0 auto;
    margin-top: 80px;
  }
  .v-line {
    position: absolute;
    top: 260px;
    left: 510px;
  }
  .event-swiper {
    width: 100%;
    height: 300px;
    margin-top: 350px;
    padding-left: 500px;
  }
  .event-item {
    align-items: center;
    padding-left: 6px;
  }
  .event-item p {
    font-size: 20px;
    font-family: ali-regular;
    font-weight: 400;
    color: rgba(255, 255, 255, .6);
    transition: all .5s;
  }
  .event-slide.swiper-slide-active .event-item p {
    font-size: 30px;
    line-height: 30px;
    font-family: ali-medium;
    font-weight: 500;
    color: rgba(255, 255, 255,1);
  }
  .event-item div {
    width: 11px;
    height: 11px;
    background: #fff;
    border-radius: 50%;
    margin-right: 37px;
    transition: all .5s;
  }
  .event-slide.swiper-slide-active .event-item div {
    width: 14px;
    height: 14px;
    margin-left: -2px;
  }
  .game-part {
    overflow: hidden;
    width: 100%;
    height: 2119px;
    /* background-image: url(../assets/imgs/home_03.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  .game-play {
    position: relative;
    width: 100%;
    height: 900px;
    transform: translate3d(30px,0,0);
    transition: transform .8s,opacity .4s;
    transition-timing-function: cubic-bezier(.165,.84,.44,1);
  }
  .fade-right {
    transform: translateZ(0);
  }
  .jump-img {
    width: 728px;
    height: 567px;
    position: absolute;
    z-index: 1;
  }
  .nft-img {
    width: 735px;
    height: 462px;
    position: absolute;
    z-index: 1;
  }
  .game-play div {
    position: absolute;
    z-index: 2;
    width: 641px;
  }
  .ltr {
    margin-top: 217px;
  }
  .ltr > img {
    left: 112px;
  }
  .ltr > div {
    right: 270px;
    margin-top: 150px;
  }
  .rtl {
    margin-top: 270px;
  }
  .rtl > img {
    right: 260px;
  }
  .rtl > div {
    left: 248px;
    margin-top: 120px;
  }
  .game-play div h1 {
    font-size: 56px;
    line-height: 56px;
    font-family: ali-medium;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .game-play div p {
    font-size: 24px;
    line-height: 26px;
    font-family: ali-regular;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .space-part {
    overflow: hidden;
    width: 100%;
    height: 1678px;
    /* background-image: url(../assets/imgs/home_04.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  .swiper-part {
    position: relative;
    /* height: 500px; */
  }
  .swiper-part .swiper-container {
    height: 100%;
  }
  .swiper-box {
    width: 100%;
    height: 500px;
  }
  .swiper-box.swiper-slide-active img {
    transform: scale(2);
  }
  .swiper-img {
    width: 300px;
    display: block;
    margin: 0 auto;
    transition: all .5s ease-in-out;
  }
  .prev,
  .next {
    width: 84px;
    height: 84px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    background-size: cover;
    outline: none;
  }
  .prev {
    background-image: url(../assets/imgs/arr-left-i.png);
    left: 40px;
  }
  .prev:hover {
    background-image: url(../assets/imgs/arr-left.png);
  }
  .next {
    background-image: url(../assets/imgs/arr-right-i.png);
    right: 40px;
  }
  .next:hover {
    background-image: url(../assets/imgs/arr-right.png);
  }
  .props {
    margin-top: 190px;
  }
  .props img {
    display: block;
    margin: 0 auto;
  }
  .props p {
    font-size: 24px;
    font-family: ali-regular;
    font-weight: 400;
    color: #999999;
    width: 1183px;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
  }
  .foot-part {
    overflow: hidden;
    width: 100%;
    height: 938px;
    /* background-image: url(../assets/imgs/home_05.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  
  .part-list {
    margin-top: 90px;
    flex-wrap: wrap;
  }
  .part-list div {
    width: 320px;
    height: 194px;
    background: #d8d8d8;
    border: 1px solid #979797;
    opacity: 0.2;
    margin-bottom: 60px;
    background-size: cover;
  }
  @media screen and (max-width: 1700px) {
    .center-desc {
      transform: scale(.8);
      margin-top: 150px;
    }
    .part-list div {
      width: 280px;
      height: 180px;
      margin-bottom: 46px;
    }
    .jump-img, .nft-img {
      transform: scale(.7);
    }
    .rtl > img {
      right: 0;
    }
    .rtl > div {
      left: 140px;
    }
    .ltr > img {
      left: 0;
    }
    .ltr > div {
      right: 90px;
    }
  }
  
  .follow {
    font-size: 40px;
    font-family: ali-medium;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 170px;
  }
  .brand-icon {
    position: relative;
    margin-right: 120px;
    cursor: pointer;
  }
  .brand-icon:last-child {
    margin-right: 0;
  }
  .brand-desc {
    position: absolute;
    left: 35px;
    bottom: -20px;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, .8);
    background-color: rgba(255, 255, 255, .3);
    text-align: center;
  }
  .bottom-menu {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .bottom-menu div {
    padding-left: 50px;
  }
  .menu-inner {
    width: 230px;
    margin: 0 auto;
  }
  .type-name {
    font-size: 16px;
    font-family: ali-medium;
    font-weight: 500;
    color: #999999;
    margin: 0 auto;
    margin-bottom: 34px;
  }
  .menu-list li {
    font-size: 16px;
    font-family: ali-medium;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 27px;
    cursor: pointer;
  }
  .game-info {
    height: 56px;
    font-size: 16px;
    font-family: ali-medium;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
  }